$mainFontSize: 38px;
$mainFont: Montserrat, Helvetica, sans-serif;
$auxFontSize: 38px;
$auxFont: Castoro, 'New Times Roman', serif;
$headingFont: Orbitron, Helvetica, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 600;

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

$borderRadius: 8px;

div.highlight pre {
	border-radius: $borderRadius;
}

section blockquote {
    font-family: $auxFont;
    border-radius: $borderRadius;
}
