@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";
@import "fonts";
@import "common";

$backgroundColor: #222;

$mainColor: #fff;
$headingColor: #fff;

$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );


@import "reveal-js/css/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal pre {
	margin: 50px auto;
}

div.highlight pre {
	border-radius: 8px;
}

