@import "reveal-js/css/theme/template/mixins";
@import "reveal-js/css/theme/template/settings";
@import "fonts";
@import "common";

$backgroundColor: #222;
$backgroundImage: url(LFE-logo-darker-greys-6-square-x3000.png);
$mainColor: #fff;
$headingColor: #99BF17;

$linkColor: #42affa;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );


@import "reveal-js/css/theme/template/theme";

section.has-light-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #222;
	}
}

.reveal pre {
	margin: 50px auto;
}

div.highlight pre {
	border-radius: $borderRadius;
}

section blockquote {
    font-family: $auxFont;
    border-radius: $borderRadius;
}
